

.l-header{

    &__logo{
        color: #fff;
        background-color: #000;
        text-align: center;
        padding: 10px;
    }
    &__list{
        display: flex;
        margin: 0 auto;
        justify-content: space-between;

    }
    &__inner{
        width: 33%;
        text-align: center;
        background-color: #a34747;

        h2{
            color: #fff;
        }
    }
}



.l-content{
    width: 80%;
    margin: 0 auto;

    &__wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        img{
            width: 100%;
        }
    }
    &__inner{
        width: 32%;
        text-align: center;
        margin-bottom: 30px;
    }
    &__btn{
        width: 80%;
        margin: 0 auto;
        border: 2px solid #da1414;
        transform: skew(-22deg);
        box-shadow: #da1414;
        padding: 10px;

        a{
            padding: 10px;
            text-decoration: none;
            color: #000;
        }

    }

}
@media screen and (max-width: 800px){
    .l-content{
        width: 100%;
        margin: 0 auto;

        &__wrap{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

        }
        &__inner{
            width: 32%;
            text-align: center;
            margin-bottom: 30px;
        }
    }
}

@media  screen and (max-width: 600px) {
    .l-content{
        width: 100%;
        &__wrap{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

        }
        &__inner{
            width: 48%;
            text-align: center;
            margin-bottom: 30px;
        }
    }
}


@media screen and (max-width: 400px){
    .l-content{
        width: 100%;
        margin: 0 auto;

        &__wrap{
            img{
                width: 100%;
            }
        }
        &__inner{
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
        }
    }
}

.c-content{
    &__inner{
        background-color: #f59e9e;
        display: flex;
        width: calc(100% - 40px);
        justify-content: space-between;
        color: #fff;
        padding: 0px 20px 0px;

        h3{
            font-size: 20px;
        }
    }
    
    p{
        padding: 20px;
    }
}
.f-content{
    text-align: center;
    font-size: large;
    padding: 30px;
    color: #fff;
    background-color: #000;
}