.l-header{
    position: fixed;
    width: 100%;
    margin-top: 60px;

    &__wrap{
        display: flex;
        justify-content: space-between;
        height: 50px;

    }

    &__list{
        display: flex;
        justify-content: flex-start;

        h1{
            margin-right: 20px;
        }
    }

    &__nav{
        ul{
            display: flex;
            justify-content: flex-start;
            list-style: none;
            padding: 16px 0;


            li{
                a{
                    font-family: 'Roboto', sans-serif;
                    text-decoration: none;
                    font-weight: 400;
                    padding: 0 10px;
                    color: #fff;
                }


            }
        }
    }
    &__signin{
        display: flex;
        justify-content: space-between;
        margin-right: 20px;
    }
}